# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=IntervU
MONGODB_DATABASE=intervu
MONGODB_USERNAME=your_username
MONGODB_PASSWORD=your_password

# Server Configuration
PORT=8080
ENVIRONMENT=development

# GraphQL Configuration
GRAPHQL_ENDPOINT=/graphql
